@{
    ViewData["Title"] = "Error";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<div class="container pt-4">
    <div class="col-12 text-center">
        <img src="~/images/Error.png" width="40%" />
        <h1 class="text-primary text-center">@ViewData["Error"]</h1>
    </div>
 @*   <div class="col-12 text-center">
        <br />
        <p class="text-danger"> OOP's an error occured !</p>
    </div>*@

</div> 